@import './variables.scss';

.card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $bg-accent;
    padding: 1rem 1.6rem 1rem 1rem;
    width: auto; //14.1rem;
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
    z-index: 0;
    margin: 0 1.5rem 1.5rem;

    &__logo{
        width: 4rem;
        border-radius: 1rem;
        margin-right: .7rem;
        transition: all 500ms;
    }

    &__title{
        margin: 0;
        transition: all 500ms;
    }

    &__arrow{
        width: 1.1rem;
        position: absolute;
        left: 50%;
        bottom: .15rem;
        transform: rotate(90deg);
        transition: all 500ms;

        &__hover{
            opacity: 0;
        }
    }

    &:hover, &:focus{
        .card{
            &__logo{
                transform: scale(1.1);
            }

            &__title{
                transform: translateX(0.5rem) scale(1.1);
            }

            &__arrow{
                opacity: 0;

                &__hover{
                    opacity: 1;
                }
            }
        }

    }
}