@import './variables.scss';

.card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $bg-accent;
    padding: 1rem 1.6rem 1rem 1rem;
    width: auto; //14.1rem;
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
    z-index: 0;
    margin: 0 .5rem .5rem;

    &__logo{
        width: 4rem;
        border-radius: 1rem;
        margin-right: .7rem;
        transition: all 500ms;
    }

    &__title{
        margin: 0;
        transition: all 500ms;
    }

    &__arrow{
        font-size: 1.3rem;
        position: absolute;
        left: 50%;
        bottom: .15rem;
        transform: rotate(90deg);
        transition: all 500ms;
    }

    &:hover, &:focus{
        .card{
            &__logo{
                transform: scale(1.1);
            }

            &__title{
                transform: translateX(0.5rem) scale(1.1);
            }

            &__arrow{
                color: $skyblue;
            }
        }

    }
}