@import './variables.scss';

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem .5rem;
    width: calc(100% - 4rem);
    border-top: $border;

    &__logo{
        width: 4rem;
    }

    &__container{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 1.5rem;

        &__text{
            width: calc(50% - 6rem);
            padding: 0 3rem;
        }

        &__icons{
            max-width: 25rem;
        }
    }

    &__icons{
        &__img{
            width: 3.5rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .footer{
        &__container{
            flex-direction: column;

            &__text{
                width: 100%;
                padding: 0;
                text-align: center;
            }

            &__icons{
                flex-direction: row;
            }
        }
    }
}