@import './variables.scss';

.home{
    background-color: black;
    color: white;
    z-index: 1;
    overflow: hidden;

    &__title{
        margin: 0;
        padding: 2rem;
    }

    &__section{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 15rem;
        padding: 8rem;

        &__title{
            z-index: 4;
        }

        &__text{
            z-index: 4;
        }
    }
}

.blue{
    background-color: #0060dd;
}

.red{
    background-color: rgb(197, 33, 21);
}

.pink{
    background-color: rgb(255, 42, 159);
}

.dark{
    background-color: rgb(49, 0, 112);
}

.curve{
    position: absolute;
    height: 10rem;
    width: 100%;
    bottom: 0;

    &::before{
        content: '';
        display: block;
        position: absolute;
        border-radius: 100% 50%;
        width: 56%;
        height: 100%;
        background-color: black;
        transform: translate(85%, 60%);
    }

    &::after{
        content: '';
        display: block;
        position: absolute;
        border-radius: 100% 50%;
        width: 56%;
        height: 100%;
        background-color: #0060dd;
        transform: translate(-4%, 40%);
    }
}

.bubble{
    &::after{
        content: '';
        border-top-left-radius: 50% 100%;
        border-top-right-radius: 50% 100%;
        position: absolute;
        bottom: 0;
        height: 85%;
        width: 100%;
        background-color: rgb(55, 35, 65);
        z-index: 1;
    }
}

.custom-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    & svg{
        position: relative;
        display: block;
        width: calc(128% + 1.3px);
        height: 55px;
        transform: rotateY(180deg);
    }

    & .shape-fill{
        fill: #FFFFFF;
    }
}

.spacer{
    aspect-ratio: 900/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer{
    background-image: url('../assets/wave-haikei.svg');
}