@import './variables.scss';

.infomodal{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2rem);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 900;
    transition: background 1000ms;

    &--hidden{
        background-color: rgba($color: #000000, $alpha: 0);
        transition: background 1000ms;

        .infomodal__container{
            transform: scaleY(0);
        }
    }

    &__container{
        opacity: 1;
        position: fixed;
        top: calc(30%);
        left: calc(50% - 10.5rem);
        width: 21rem;
        height: auto;
        background-color: whitesmoke;
        color: black;
        border-radius: 0.4rem;
        font-size: 1.1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
        transform: scale(1);
        transition: all 350ms;

        &__close{
            cursor: pointer;
            margin: 0;
            padding: 0;
            border: 0;
            position: absolute;
            right: .3rem;
            top: .3rem;
            font-size: 1.7rem;
            display: flex;
            transition: all 300ms;
            border-radius: .3rem;
            width: 1rem;

            &--closed{
                position: fixed;
                width: 1rem;
                right: .6rem;
                top: .6rem;
                transition: all 350ms;
            }

            &--hover{
                position: fixed;
                width: 1rem;
                right: .4rem;
                top: .4rem;
                opacity: 0;
                transition: all 350ms;
            }
            
            &:hover, &:focus{
                .infomodal{
                    &__container__close{
                        &--closed{
                            opacity: 0;
                            transition: all 350ms;
                        }
            
                        &--hover{
                            background-color: rgb(221, 0, 0);
                            padding: .2rem;
                            border-radius: .2rem;
                            opacity: 1;
                            transition: all 350ms;
                        }
                    }
                }
            }
        }

        &__header{
            display: flex;
            padding: 1rem;
            align-items: center;
            
            &__work{
                & h2{
                    margin-left: 1rem;
                }
            }
        }

        &__logo{
            width: 4.5rem;
            border-radius: 1rem;
        }

        &__title-container{
            margin-left: 1rem;
            height: 4.5rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        &__title{
            margin: 0;
        }

        &__subtitle{
            margin: .2rem 0;
            color: rgb(71, 71, 71);
            font-size: .75rem;
        }

        &--0{ //work experience text
            padding: 0 1.5rem 1rem;

            & p{
                margin: 0 0 .5rem;
                line-height: 1.5;
            }

            & span{
                color: rgb(71, 71, 71);
                font-size: 0.8rem;
            }
        }

        &--1{ //education text
            padding: 0 1.5rem 1rem;

            & p{
                margin: 0 0 .5rem;
                line-height: 1.5;
            }

            & span{
                color: rgb(71, 71, 71);
                font-size: .8rem;
            }
        }
    }
}