@import './variables.scss';

.nav-item{
    &__root{
        width: calc($nav-size * 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__btn{
        font-size: 1.1rem;
        text-decoration: none;
        color: $text-color;
        width: $nav-icon;
        height: $nav-icon;
        background-color: #484a4d;
        border-radius: 50%;
        padding: .1rem;
        margin: .01rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: filter $speed;

        &:hover{
            filter: brightness(1.5);
        }
    }
}