@import './variables.scss';

.un-mount{
    z-index: 900;
    transition: all 500ms;
}

.skillsDropds{
    transition: height $speed ease;
    position: absolute;
    z-index: 3;
    background-color: $dropd-bg;
    border-radius: 1rem;
    width: 11rem;
    max-width: 11rem;
    padding: 0.5rem 0 .5rem;
    overflow: hidden;
    color: white;
    font-family: 'Ubuntu', sans-serif;

    &__css-container{
        &-enter{
            position: absolute;
            transform: translateX(-110%);
            //opacity: 0;
        }

        &-enter-active{
            transform: translateX(0%);
            //opacity: 1;
            transition: all $speed ease;
        }

        &-exit{
            position: absolute;
        }

        &-exit-active{
            transform: translateX(-110%);
            //opacity: 0;
            transition: all $speed ease;
        }

        &--secondary{
            &-enter{
                position: absolute;
                transform: translateX(-110%);
            }
    
            &-enter-active{
                transform: translateX(0%);
                transition: all $speed ease;
            }
    
            &-exit{
                position: absolute;
            }
    
            &-exit-active{
                transform: translateX(-110%);
                transition: all $speed ease;
            }
        }
    }

    &__container{
        width: 100%;
        max-width: 100%;
    }
}

.item{
    border: 0;
    background-color: rgba($color: #ff0000, $alpha: 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background $speed;
    width: 95%;
    margin: 0 .3rem;
    color: white;
    height: 3rem;
    border-radius: $border-radius;

    & span{
        font-size: 0.9rem;
    }

    & p{
        margin: 0;
    }

    & a{
        color: white;
        text-decoration: none;
    }

    &:hover, &:focus{
        background-color: #727272;
    }
}