$bg: #242526;
$dropd-bg:#1b1d1f;
$bg-accent: #484a4d;
$text-color: #dadce1;
$nav-size: 5rem;
$nav-icon: 2.8rem;
$border: .01rem solid #474a4d;
$border-radius: .5rem;
$speed: 500ms;
$button-size: 4rem;
$skyblue: rgb(0, 195, 255);
$violet: rgb(71, 12, 165);